
<head>
  <style>
      html, body {
        min-height: 100%;
        padding: 0;
        margin: 0;
        font-family: Roboto, Arial, sans-serif;
        font-size: large;
			background: #7abecc !important;
     
        color: #ffff;
      }
      
        h2, form, p{
          text-align : center;
        }
		.myDiv{
			 margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
		}
   </style>
        
        </head>

<h2> Change your password</h2>
<div class = "myDiv">
<form method="post" >
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class = " btn btn-secondary">Save changes</button>
</form>
</div>
