<head>
  <style>
      html, body {
        min-height: 100%;
        padding: 0;
        margin: 0;
        font-family: Roboto, Arial, sans-serif;
        font-size: large;
			background: #7abecc !important;
     
        color: #ffff;
      }
      
        h2, form, p{
          text-align : center;
        }
		.myDiv{
			 margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
		}
        </style>
        
        </head>

<h2>Enter new password</h2>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<div class = "myDiv">
<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Update Password">
	
</form>
</div>