
<html>
    
<head>
	<title>Login</title>
	<style>
	body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #7abecc !important;
		}
		h2{
			color : #ffff;
			text-align : center;
		}
		.myDiv{
			 border: 5px outset red;
         background-color: lightblue;
             text-align: center;
			padding: 10px;
		}
		p{
			 text-align: center;
			  font-size: large;
		}
		</style>
</head>
<body>

<h2>Password Reset</h2>



<p >Forgot your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
<div class = 'myDiv'>
<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Send email">
	
</form>
</div>
</body>