
<style>
	body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #7abecc !important;
		}
		h2{
			color : #ffff;
			text-align : center;
		}
		.myDiv{
			 border: 5px outset red;
  background-color: lightblue;
  text-align: center;
		}
		p{
			 text-align: center;
             font-size: large;
           
		}
		</style>

<h2>Password reset sent!</h2>


<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive the email shortly.</p>

<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>