{% extends 'forms/base_form.html' %}
{% block content %}
<div class='title'>
  <h1>ENTER CANDIDATE DETAILS TO REFER FOR [{{requisition_id_obj.requisition_id}}]</h1>
</div>
{% if signal == False %}
  <h3 style="margin-left:200px"> candidate already exists </h3>
{% endif %}
<form method ='POST' name = 'resume_file' enctype="multipart/form-data" action = "">
  {% csrf_token %}
  {{form_.as_p}}
  {% if form_ is not None %}
  <input style='margin-left:20px; width:60px; float:left' name = 'form_' type='submit' value = 'upload'>
  {% endif %}
</form>
<form method='POST' name = 'details' enctype="multipart/form-data" action = ""> {% csrf_token %}
  {{ form.as_p }}
  <input type = 'hidden' name ='resume_name' value = {{resume_name}}><br>
  {% if resume_name != None %}
  <center>
    <h2>Please confirm, you checked all the details of the form <br>
      And You want to refer this candidate for : <br>
      Requition Id - <u>{{requisition_id_obj.requisition_id}}</u><br>
      Job Description - <u>{{requisition_id_obj.jd}}</u>
    <input type='checkbox' name = 'confirm' required ></h2></center>
  <button type="submit" name = 'form' >Add Candidate</button><br><br>
  {% else %}
  <center>
    <h2>Please confirm, you checked all the details of the form <br>
      And You want to refer this candidate for : <br>
      Requition Id - <u>{{requisition_id_obj.requisition_id}}</u><br>
      Job Description - <u>{{requisition_id_obj.jd}}</u>
    <input type='checkbox' name = 'confirm' required disabled></h2></center>
  <button type="submit" name = 'form' disabled>Add Candidate And Refer</button><br><br>
  {% endif %}

</form>
<a href='../../../delete_temp_for_add_and_refer/{{requisition_id_obj.requisition_id}}'><button style='margin-left:40%;text-align:center; width:20%'name = 'cancel'>Cancel</button></a>

<!-- {% if resume_name == None %}
  <a href='../delete_temp/'><button style='margin-left:40%;text-align:center; width:20%'name = 'cancel'>Cancel</button></a>
{% else %}
<a href='../delete_resume{{resume_name}}/'><button style='margin-left:40%;text-align:center; width:20%'name = 'cancel'>Cancel</button></a>
{% endif %} -->
<!-- <center><a href='/search_candidate' ><button class='button-close' type="submit">Close</button></a></center> -->
{% endblock %}
