<!DOCTYPE html>
<html>
<head>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
a{
  text-decoration:none;
  color:white;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #4CAF50;}
</style>
</head>
<body>
<form method="POST"> {% csrf_token %}
  <input type='text' placeholder="search JD" name="requisition_id">

<button class="button button1">submit</button><br>
<button class="button button3">If not found create JD<a href="../user/upload_jd"></a></button><br>
<button class="button button2"><a href="../search_jd">search_candidate</a></button><br>
</form>
</body>
</html>
