<!DOCTYPE html>
<html>
<head>
  <style>
    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    a{
      text-decoration:none;
      color:white;
    }

    .button1 {background-color: #4CAF50;} /* Green */
    .button2 {background-color: #008CBA;} /* Blue */
    .button3 {background-color: #4CAF50;}
  </style>
</head>
  <body>
  <form method="POST"> {% csrf_token %}
    <input type='text' placeholder="search requisition_id" name="requisition_id" required>
    <button type='submit' class="button button1" name='search_requisition_id_button'>Search</button><br>
    <input type='submit' class="button button2" value='Upload JD' name='upload_jd_button' /><br>
    <input type='submit' class="button button3" value='Search Candidate' name='search_candidate_button' /><br>
  </form>
</body>
</html>
