{% extends 'forms/base_form.html' %}
{% block content %}
<div class='title'>
  <h1>ENTER CANDIDATE DETAILS</h1>
</div>
<form method ='POST' name = 'resume_file' enctype="multipart/form-data" action = '{% url "add_candidate_page" %}'>
  {% csrf_token %}
  {{form_.as_p}}
  <input style='margin-left:20px; width:60px; float:left' name = 'form_' type='submit' value = 'upload'>
</form>
<form method='POST' name = 'details' enctype="multipart/form-data"> {% csrf_token %}
  {{ form.as_p }}
  <input type='hidden' name = 'candidate_id' value = {{prim_key}}>
  <button type="submit" name = 'form'>Add Candidate</button><br><br>
  <button type="submit" name = 'cancel' formaction='../delete_temp_candidate/{{prim_key}}/'>Cancel</button>
</form>
<!-- <center><a href='/search_candidate' ><button class='button-close' type="submit">Close</button></a></center> -->
{% endblock %}
