{% extends 'rudra_base.html' %}

{% block title %}
Edit candidate information
{% endblock %}

{% block body %}
<br/>
<h4 style="text-align: centre">Edit Form : Level {{level}} </h4><br/>
<div class='centre_'>
  <form action = "../field/{{feedback_id}}/" method = "POST">{% csrf_token %}
    <div>
      {% for i, j in fields %}
      <label style="font-size: smaller" for = "{{i}}"> {{i}} : </label><br/>
      <input type = number name = "{{i}}" value="{{j}}" min = "1" max ="5">
      <a style="font-size: smaller" href = '../{{i}}{{level}}/'>delete</a>
      <br/>
      {% endfor %}
    </div>

    <div>
      {{form}}<br/>
      <button type="submit" class = "addBtn" value="Submit">Add Fields</button>
    </div>
  </form>




  <form name='edit_form' id='edit_form' method="POST">{% csrf_token %}
      <div>
        <br/>
        <label style="font-size: smaller" for = "status">Status: </label><br/>
        <input name = "status" id = "status" list = "status_choices" placeholder = "status" value = {{status}}>
          <datalist id = "status_choices">
                  <option value = "pass">
                  <option value = "Fail">
                  <option value = "pending">
          </datalist>
      </div>

      <br/>
      <lebel style="font-size: smaller" for = 'comments'> Enter your overall feedback here:<lebel> <br/>
      <textarea rows = "5" cols = "60" name = "comments" value = {{comments}}>{{comments}}
      </textarea><br/>
      <button type="submit" class = "addBtn" value="Submit">Submit</button>
      <a href= '../'>Cancel</a>
    </form>
<div>

{% endblock %}
