{% extends 'rudra_base.html' %}

{% block title %}
Edit candidate information
{% endblock %}

{% block body %}
<br/>
<h4 style="text-align: centre">Edit Form : Level {{level}} </h4><br/>
<div class='centre_'>
  <form name = field_form action = "../field/{{feedback_id}}/" method = "POST">{% csrf_token %}
    <div class = 'new_'>
      {{form.as_p}}<br/>
      <button type="submit" class = "button-1" value="Submit">Add Fields</button>
    </div>
  </form>


  <form name='edit_form' id='edit_form' method="POST">{% csrf_token %}
    <div style = "margin-left:200px; margin-right:200px">
      {% for i, j, k, id in fields %}
      <label for = "{{i}}"> {{i}} : </label><br/>
      <a style="float:right;" href = '../{{i}}{{level}}/'>delete</a>
      <input type = number id = "{{id}}" value="{{j}}" name = "rating{{i}}{{id}}" value="{{j}}" min = "1" max ="5">
      <label for =comments{{id}}"> Feedback :</label>
      <textarea rows = "2" cols = "40" id = "comment{{id}}" name = "comments{{i}}{{id}}" >{{k}}
      </textarea>
      <hr>
      <br/>
      {% endfor %}
    </div>

      <div>
        <br/>
        <label for = "status">Status: </label><br/>
        <select id = "status" name = status required>
          <option value = "selected">selected</option>
          <option value = "pending">pending</option>
          <option value = "rejected">rejected</option>
        </select><br>
      </div>

      <br/>
      <label for ="interview_date"> Interview Date :</label><br>
      {% if level == 1 %}
        <input type ="date" id = "interview_date" name ="interview_date" value = "{{interview_date}}" max={{current_date}} required>
      {% endif %}
      {% if level == 2 %}
        <input type ="date" id = "interview_date" name ="interview_date" value = "{{interview_date}}" max={{current_date}} min={{interview_date_1}} required>
      {% endif %}
      {% if level == 3 %}
        <input type ="date" id = "interview_date" name ="interview_date" value = "{{interview_date}}" max={{current_date}} min={{interview_date_2}} required>
      {% endif %}
      <lebel for = 'comments'> Enter your overall feedback here:<lebel> <br/>
      <textarea rows = "5" cols = "60" name = "comments" value = {{comments}}>{{comments}}
      </textarea><br/>
      <button type="submit" class = "addBtn" value="Submit">Submit</button>
    </form>
</div>

<center> <a style="width:100%" href= '../../../../../search_candidate/?candidate_email={{email_id}}'><button>Cancel</button></a></center><br>
{% endblock %}
