{% extends 'rudra_base.html' %}
{% block title %}
Candidate feedback {{candiate.id}}
{% endblock %}

{% block body %}
<h3 style="background-color:#ee2020; color=#66ccff; text-align:center; margin-left:15px; margin-right:15px; color=white;">Candidate feedback</h3><nobr>
<!-- <h3 style="margin-right:20px"><a style="float:right" href="Download/">Download </a></h3> -->
<h3 style="margin-right:20px"><a style="float:right" href="report/">View Report </a></h3>
<h3 style="margin-left:20px"><a style="float:left;" href="#fill"> Fill feedback </a><br></h3>
<h4> Basic Details </h4>
<div class='basic_details'>
  <ul>
    <li> Candidate Name : {{basic_detail.Name}}</li><br>
    <li> Email Id : {{basic_detail.Email}}</li><br>
    <li> Graduation CGPA : {{basic_detail.Graduation_CGPA}}</li><br>
    <li> University Name : {{basic_detail.University_name}}</li>
    <li style="float:right;font-size:12px"><a href = "../../../../../view_candidate/{{basic_detail.Email}}">See More...</a></li>
  </ul>
</div>

<div class = 'level2'>
  {% if level == 2 %}
    <h4> Level 1 </h4>
    <ul>
      <li> Status : {{level_1.status}} </li><nobr>
      <li style = 'float:right;font-size:12px'><a href = 'edit{{level_1.feedback_id}}/'> Edit </a></li>

      <table>
        <tr>
          <th>Field Name</th>
          <th>Rating </th>
          <th>Comments </th>
        </tr>
        {% for i, j, k in level_1.details %}
          <tr>
            <td>{{i}}</td>
            <td>{{j}}</td>
            <td>{{k}}</td>
          </tr>
        {% endfor %}
      </table>

      <br/>
      <li> Overall Comments : {{level_1.comments}}</li>
      <li style = 'float:right;color:#ff3300'> Interview Date : {{level_1.interview_date}}</li><br>
      <li> Interviewer : {{level_1.interviewer_id}} <li>

      <li style = 'float:right;color:#ff3300'> Last updated at : {{level_1.timestamp}}</li>
    </ul>
  {% endif %}
</div>

<div class='level3'>
  {% if level == 3 %}
  <h4> Level 1 </h4>
  <ul>
    <li> Status : {{level_1.status}} </li>
    <li style = 'float:right;font-size:12px'><a href = 'edit{{level_1.feedback_id}}/'> Edit </a></li><br/>
    <table>
      <tr>
        <th>Field Name</th>
        <th>Rating </th>
        <th>Comments </th>
      </tr>
      {% for i, j, k in level_1.details %}
        <tr>
          <td>{{i}}</td>
          <td>{{j}}</td>
          <td>{{k}}</td>
        </tr>
      {% endfor %}
    </table>
    <br/>
    <li> Overall Comments : {{level_1.comments}}</li>
    <li style = 'float:right;color:#ff3300'> Interview Date : {{level_1.interview_date}}</li><br>
    <li> Interviewer : {{level_1.interviewer_id}} <li>
    <li style = 'float:right;color:#ff3300'> Last updated at : {{level_1.timestamp}}</li>
  </ul>
  <hr>

  <h4> Level 2 </h4>
  <ul>
    <li> Status : {{level_2.status}} </li>
    <li style = 'float:right;font-size:12px'><a href = 'edit{{level_2.feedback_id}}/'> Edit </a></li><br/>
    <table>
      <tr>
        <th>Field Name</th>
        <th>Rating </th>
        <th>Comments </th>
      </tr>
      {% for i, j, k in level_2.details %}
        <tr>
          <td>{{i}}</td>
          <td>{{j}}</td>
          <td>{{k}}</td>
        </tr>
      {% endfor %}
    </table><br/>
    <li> Overall Comments : {{level_2.comments}}</li>
    <li style = 'float:right;color:#ff3300'> Interview Date : {{level_2.interview_date}}</li><br>
    <li> Interviewer : {{level_2.interviewer_id}} <li>
    <li style = 'float:right;color:#ff3300'> Last updated at : {{level_2.timestamp}}</li>
  </ul>
  {% endif %}
</div>



<hr>
<h4> Level {{level}} </h4>

<label for="interviewer_code"><h4>Interviewer : {{basic_detail.interviewer_id}}</h4></label>

{% for i, j in current_field %}
  <h4>{{i}} : {{j}} <a style="font-size: smaller" href = '{{i}}{{level}}'>delete</a></h4>
{% endfor %}
<div id="fill">
  <div class = 'new_'>
    <form method = 'POST' action = 'field/{{basic_detail.feedback_id}}/'>
      {% csrf_token %}
      {{form.as_p}}<br/>
      {{form.errors}}
      <button type="submit" onclick='href="../../"' class='button-1' value="Add_Field">Add Field</button><br/><br/>
    </form>
  </div>
</div>


<div class='centre_'>
  <form name='feedback_form' id='feedback_form' method="POST">
    {% csrf_token %}
      <br/>
      <div>
        <label for = "status">Status: </label><br>
        <!-- <input name = "status" id = "status" list = "status_choices" placeholder = "status" required> -->
        <select id = "status" name = status required>
          <option value = "pending">pending</option>
          <option value = "pass">pass</option>
          <option value = "fail">fail</option>
        </select><br>

        <label for ="interview_date"> Interview Date :<label><br/>
        <input type="date" name="interview_date" id="interview_date" value={{basic_detail.current_date}}>
      </div><br/>


      <label for="comments">Enter your overall feedback here</label><br>
      <textarea rows = "3" cols = "10" name = "comments">
      </textarea><br/>

      <button type="submit" class = "addBtn" value="Submit">Submit</button>
    </form>
    <!-- <a href = '../../../'> <button>Cancel</button></a> -->
<div>
<center> <a style="width:100%" href= '../../../../search_candidate/?candidate_email={{basic_detail.Email}}'><button>Cancel</button></a></center><br>

{% endblock %}
