{% extends 'rudra_base.html' %}
{% block title %}
Candidate feedback {{candiate.id}}
{% endblock %}

{% block body %}



<h3 style="background-color: rgb(201, 76, 76)">Candidate feedback</h3>
<div class='margin'>
  <h4> Basic Details </h4>
  <ul class='details'>
    <li> Candidate Name : {{basic_detail.Name}}</li><br/>
    <li> Email Id : {{basic_detail.Email}}</li><br/>
    <li> Graduation CGPA : {{basic_detail.Graduation_CGPA}}</li><br/>
    <li> University Name : {{basic_detail.University_name}}</li>
  </ul>

  {% if level == 2 %}
    <h4> Level 1 </h4>
    <ul>
      <li> Status : {{level_1.status}} </li>
      <li style = 'float:right'><a href = 'edit{{level_1.feedback_id}}/'> Edit </a></li><br/>
      {% for i, j in level_1.details %}
        <li> {{i}} : {{j}}, &nbsp;&nbsp;</li>
      {% endfor %}
      <br/>
      <li> Comments : {{level_1.comments}}</li><br/>
      <li> Interviwer : {{level_1.interviewer_id}} <li>
      <li style = 'float:right'> last update at : {{level_1.timestamp}}</li>
    </ul>
  {% endif %}

  {% if level == 3 %}
  <h4> Level 1 </h4>
  <ul>
    <li> Status : {{level_1.status}} </li>
    <li style = 'float:right'><a href = 'edit{{level_1.feedback_id}}/'> Edit </a></li><br/>
    {% for i, j in level_1.details %}
      <li> {{i}} : {{j}}, &nbsp;&nbsp; </li>
    {% endfor %}
    <br/>
    <li> Comments : {{level_1.comments}}</li><br/>
    <li> Interviwer : {{level_1.interviewer_id}} <li>
    <li style = 'float:right'> last update at : {{level_1.timestamp}}</li>
  </ul>

  <h4> Level 2 </h4>
  <ul>
    <li> Status : {{level_2.status}} </li>
    <li style = 'float:right'><a href = 'edit{{level_2.feedback_id}}/'> Edit </a></li><br/>
    {% for i, j in level_2.details %}
      <li> {{i}} : {{j}}, &nbsp;&nbsp;</li>
    {% endfor %}
    <br/>
    <li> Comments : {{level_2.comments}}</li><br/>
    <li> Interviwer : {{level_2.interviewer_id}} <li>
    <li style = 'float:right'> last update at : {{level_2.timestamp}}</li>
  </ul>
  {% endif %}
</div>



<hr>
<h4> Level {{level}} </h4><br>

<label for="interviewer_code"><h4>Interviewer : {{basic_detail.interviewer_id}}</h4></label><br/>

{% for i, j in current_field %}
  <h4>{{i}} : {{j}} <a style="font-size: smaller" href = '{{i}}{{level}}'>delete</a></h4>
{% endfor %}

<div class = 'field_form' method = "POST">
  <form method = 'POST' action = 'field/{{basic_detail.feedback_id}}/'>
    {% csrf_token %}
    {{form}}<br/>

    <button type="submit" onclick='href="../../"' value="Add_Field">Add Field</button><br/><br/>
  </form>
</div>

<div class='centre_'>
  <form name='feedback_form' id='feedback_form' method="POST">
    {% csrf_token %}
      <br/>
      <div>
        <label for = "status">Status: </label><br>
        <input name = "status" id = "status" list = "status_choices" placeholder = "status">
        <datalist id = "status_choices">
          <option value = "pass">
          <option value = "Fail">
          <option value = "pending">
        </datalist>
      </div><br/>

      <textarea rows = "5" cols = "60" name = "comments">
      </textarea><br/>

      <button type="submit" class = "addBtn" value="Submit">Submit</button>
      <a href = '../../../'> Cancel </a>
    </form>
<div>



{% endblock %}
