{% extends "rudra_base.html" %}

{% block title %}
view report
{% endblock %}

{% block body %}

<div class = "basic_details">
  <ul>
    <li> Candidate Name : {{basic_detail.candidate_name}}</li><br>
    <li> Email Id : {{basic_detail.candidate_email}}</li><br>
    <li> Graduation CGPA : {{basic_detail.candidate_college}}</li><br>
    <li> University Name : {{basic_detail.candidate_cgpa}}</li>
  </ul>
</div>

<div class = 'level1'>
  <h4> Level 1 </h4>
  <ul>
    <li> Status : {{level_1.status}} </li><br>
    {% for i, j, k in level_1.details %}
      <li> {{i}} : {{j}}, &nbsp;&nbsp; Comments : {{k}}</li>
    {% endfor %}
    <br/>
    <li> Overall Comments : {{level_1.comments}}</li><br/>
    <li> Interviwer : {{level_1.interviewer_id}} <li>
    <li style = 'float:right;color:#ff3300'> Last updated at : {{level_1.timestamp}}</li>
  </ul>
</div>

<div class='level2'>
  <h4> Level 2 </h4>
  <ul>
    <li> Status : {{level_2.status}} </li><br>
    {% for i, j, k in level_2.details %}
      <li> {{i}} : {{j}}, &nbsp;&nbsp; comments : {{k}}</li><br>
    {% endfor %}
    <li> Overall Comments : {{level_2.comments}}</li><br/>
    <li> Interviwer : {{level_2.interviewer_id}} <li>
    <li style = 'float:right;color:#ff3300'> Last updated at : {{level_2.timestamp}}</li>
  </ul>
</div>

<div class='level3'>
  <h4> Level 3 </h4>
  <ul>
    <li> Status : {{level_3.status}} </li><br>
    {% for i, j, k in level_3.details %}
      <li> {{i}} : {{j}}, &nbsp;&nbsp; comments : {{k}}</li><br>
    {% endfor %}
    <li> Overall Comments : {{level_3.comments}}</li><br/>
    <li> Interviwer : {{level_3.interviewer_id}} <li>
    <li style = 'float:right;color:#ff3300'> Last updated at : {{level_3.timestamp}}</li>
  </ul>
</div>

<a href = "../../../../../search_candidate/?candidate_email={{basic_detail.candidate_email}}"><button type="button" name="button">Go Back</button></a><br/>
{% endblock %}
